--only-binary=:all: streamlit==1.22.0
--only-binary=:all: pandas==1.5.3
--only-binary=:all: numpy==1.24.3
--only-binary=:all: scikit-learn==1.2.2
--only-binary=:all: joblib==1.2.0
--only-binary=:all: matplotlib==3.7.1
--only-binary=:all: seaborn==0.12.2
setuptools>=77.0.3